# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.spyderproject
.spyproject
.ropeproject

# Project specific
*.log
*.pkl
*.h5
*.json
*.jpg
*.jpeg
*.pdf

# OS specific
.DS_Store
Thumbs.db
.directory
desktop.ini

# Temporary files
tmp/
temp/

# Model files
models/
*.model
*.joblib
*.pickle

# Cached data
.cache/

rf
rf_game-by-game
rf_vs_gb
simulate_playoffs
xbg_game_by_game
xgb
